$green-dark: #253621;
$green: #86c345;
$blue: #00a5be;
$yellowish: #ecd06f;
$black: #2f362f;
$white: #fff;
$f-bold: 700;
$border-radius: 5px;
$box-shadow: 0 1px 4px rgba($black, 0.3);

@mixin shadow {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

:root {
  box-sizing: border-box;
  font-size: 18px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Ubuntu", Helvetica, sans-serif;
  background-color: #ccc;
  font-size: 1rem;
  line-height: 1.4;
}

h1 {
  padding-bottom: 0.5em;
  letter-spacing: 0.1em;
}

/*************
**** large */
@media all and (min-width: 1120px) {
  :root {
    font-size: 22px;
  }
  .container {
    width: 1040px;
    margin: 0 auto;
  }
}
