.page__header {
  padding: 0.5em 1em;
  background-color: $white;
  @include shadow;
}
.nav {
  display: flex;
  align-items: center;
  text-align: right;
  &__link {
    flex: 1;

    &--brand {
      text-align: left;
      & img {
        border-radius: $border-radius;
      }
    }

    &:hover {
      color: $green;
    }
    a {
      display: block;
      text-transform: uppercase;
      font-weight: $f-bold;
    }
  }
}

@media all and (min-width: 720px) {
}
