.page__header {
  padding: 0.75em 1em;
  background-color: $white;
  @include shadow;
}
.nav {
  display: flex;
  align-items: center;
  text-align: right;
  &__link {
    flex: 1;

    &--brand {
      text-align: left;
      img {
        border-radius: $border-radius;
        vertical-align: middle;
      }
    }
    &:hover {
      color: $green;
    }
    a {
      text-transform: uppercase;
      font-weight: $f-bold;
    }
  }
}

@media all and (min-width: 720px) {
  .page__header {
    padding-block: 1em;
  }
}
